@charset "utf-8";
/* CSS Document */
img, form, #principal_topo, .style4, .style1, .style2, .style3, .style5, #text_topo, h2, #principal_rodape, #opcao_tb{ 
	display:none;
}

#rel_contagem{ text-align:center; font-family:Verdana, Geneva, sans-serif; font-size:15; 
}

.form_invisivel{ border:0px; text-align:right; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#030; font-weight:bold; text-align:left;}

h2{ font-family:Verdana, Geneva, sans-serif; color:#060; font-size:20px; font-weight:bold; text-align:center;}


/***************************Comfiguração da tabela zebrada**********************/
tr.zebra td {background:#eee; color:#000;}
#tabela_servidor{ font-family:Verdana, Geneva, sans-serif; font-size:10px; text-align:center; color:#000; border:0}
th{ background-color:#eee; color:#000; font-size:11px;}
/********************* Termina Comfiguração da tabela zebrada*******************/