ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#9AA968;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;padding:0 0 10px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:10px 10px 20px;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:10px 10px 10px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 10px;}
ul#css3menu1 ul>li{
	margin:10px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Verdana,Geneva,sans-serif;color:#005500;cursor:default;padding:3px;background-color:#9AA968;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#9AA968;border-width:0 0 1px 0;border-style:solid;border-color:#3C4D3D;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:bold 12px Verdana,Geneva,sans-serif;color:#aa5500;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#00ffff;border-style:none;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("data:image/gif;base64,R0lGODlhBwAEAIABAGCjUQAAACH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==");background-position:right center;background-repeat:no-repeat;padding-right:17px;}
ul#css3menu1 li:hover>a>span{
	background-image:url("data:image/gif;base64,R0lGODlhBwAEAIABAPHx8f///yH5BAEKAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==");}
ul#css3menu1 ul span{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9AAAAAFCAYAAAAdbHdrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wBFws0J0vzmR8AAACkSURBVHja7d0xDsIwEATANW8JfZDC/x9AJNKTv5jGRgGFD1gz1UnXuV3tudRakyTrtqepSbLMU0mSUkoAAAAAAAAAYBSP56smyf12/QrEL31Y5in5Cc8BAAAAAAAAYDQ9OO9BevcJ0Ndt74tyaKMDAAAAAAAAwHDOQvRjA723zmtrowMAAAAAAADAkM7OuB8b6ElS2lw9FwAAAAAAAAAj+vcH+huhMSsK+N1VhQAAAABJRU5ErkJggg==");padding-right:12px;}
ul#css3menu1 ul li:hover > a span{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9AAAAAFCAYAAAAdbHdrAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wBFws0J0vzmR8AAACkSURBVHja7d0xDsIwEATANW8JfZDC/x9AJNKTv5jGRgGFD1gz1UnXuV3tudRakyTrtqepSbLMU0mSUkoAAAAAAAAAYBSP56smyf12/QrEL31Y5in5Cc8BAAAAAAAAYDQ9OO9BevcJ0Ndt74tyaKMDAAAAAAAAwHDOQvRjA723zmtrowMAAAAAAADAkM7OuB8b6ElS2lw9FwAAAAAAAAAj+vcH+huhMSsK+N1VhQAAAABJRU5ErkJggg==");}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#3B4C3D;border-style:solid;border-color:#6F8871;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 ul ul li{
	margin:10px 0 0;}
ul#css3menu1>li>a{
	padding:3px 10px;}
ul#css3menu1 li.topmenu>a{
	border-width:0 0 3px 0;border-style:none;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:3px 10px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	border-style:none;}
ul#css3menu1 li.toproot>a{
	border-width:0 0 3px 0;border-style:none;border-color:#9AA968;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:3px 10px;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{
	border-style:solid;border-color:#00ffff;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
